@media screen and (max-width:1185px){
    /* principal */
    .img_card{
        width: 300px;
        height: 330px;
    }
    .card{
        height: 330px;
        width: 51%;
        padding: 10px;      
    }
    /* card */
    .card, .img_card{
        width: 100%;
        height: auto;
        padding: 8px;       
    }
    .card_article{
        flex-wrap: wrap;
        display: flex;
        height: auto;
        margin-bottom: 20px;
        border-style: dashed;
    } 
}

@media screen and (max-width:1031px){
    /* header */
    #img_header{
        display: block;
        height: 18rem;
    }
    .chamada_header{
        font-size: 15px;
        padding: 1rem;
    }
    .titulo_header{
        font-size: 35px;
        padding: 1rem;
    }
    /* lateral */
    .card_side{
        display: block;
    }
    .img_side{
        width: 100%;
        height: auto; 
    }


}
 /* icone mobile */
@media screen and (min-width:700px){
    .dropdown{
        display: none;
    }
}
@media screen and (max-width:700px){
    .titulo_header{
        font-size: 25px;
        padding: 1rem;
    }  
    /* icone mobile */
    nav{
        display: none;
    }

    h2{
        font-size: 150%;
    }  
    /* container */
    .container{
        display: block;
    }
    /* principal */
    .main{
        width: 90%;
    } 
     /* lateral */
    .side{
        width: 90%;
        margin: 5%;
    
    }

}

